@import '../abstracts/variables.scss';
@import '../base/reset.scss';
/* ============================= */
/* Header */
/* ============================= */
body{
  background-color: #f7f8f8;
}
.container{ 
   max-width: 1200px;
   margin: 0 auto;
}
header {
  background: $white;
  box-shadow: $card-shadow;
  position: sticky;
  top: 0;
}


/* ============================= */
/* Navbar */
/* ============================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nachat{
  margin-top: 100px;
}

/* ============================= */
/* Hero Section */
/* ============================= */




/* ============================= */
/* Logo */
/* ============================= */

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.tovar {
  font-size: $fs-md;
  font-weight: $fw-semibold;
}


/* ============================= */
/* Navigation Items */
/* ============================= */

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  position: relative;

  li {
    font-size: $fs-sm;
    font-weight: $fw-regular;
  }

}


.btn-pramiry{
  background:$grad-linear;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5000px;
  color: var(--white-color);
  border: none; 
}
.hero{
  background: $grad-linear;
  .texts{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
      font-size: 10px;
      color: $white;
      span{
        color: $black;
      }
    }
    h2{
      color:$white;

    }
  }
}
.icon{
  display: flex;
  align-items: center;
  background: $grad-linear;
  width: 270px;
  padding: 8px 12px;
  border-radius: 12px;
   p{
      font-size: 13px;
    }
}
.nachat{
  margin-top: 22px;

  .icons{
    background: #ffffff;  
  border-radius: 12px;

 
    width: 270px;
    .ico{
    display: flex;
    align-items: center;
    background: $white;
    width: 270px;
    padding: 8px 20px;
    border-radius: 12px;
    cursor: pointer;
    p{
      font-size: 13px;
    }
    }
    .ico:hover{
    background: #ecf6ec;
    }
  }
}
.icond{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nachats{
  display: flex;
  gap: 20px;
  .chego{
    background:$white ;
    width:1000px;
    padding: 20px;
    border-radius: 12px;
    .text{
      display: flex;
      margin-top: 15px;
      flex-direction: column;
      gap: 15px;
    }
    .podkl{
      font-size:13px ;
      color: $text-light;
      cursor: pointer;
    }
    .podkl:hover{
      color: $color-primary;
    }
  }
}
.tovari{
  margin-top: 50px;
  margin-bottom: 100px;
  .nami{
    font-size: 18px;
      font-weight: 600;
    margin-bottom: 20px;
  }
}
.boxs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left{
    .bez{
      text-align: center;
      padding:  20px 0 0 0;
      margin-bottom: 10px;
    }
    background: $white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: $card-shadow;
    .letf{
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0 60px  15px 30px;
      i{
        font-size: 30px;
        color: #e21b4d;
      }
      p{
        font-size: 15px;
      }
    }
  }

    .right{
    background: $colorbox;
    display: flex;
    flex-direction: column;
    padding: 0 60px 20px 30px;
    gap: 15px;
    border-radius: 16px;
    box-shadow: $card-shadow;

    .mechti{
      text-align: center;
      margin-bottom: 10px;
      padding:  30px 0 0 0;
    }
    .rigth{
      display: flex;
      align-items: center;
      gap: 5px;
      i{
        color: #60b464;
        font-size: 25px
      }
      p{
        font-size: 15px;
      }
    }
  }
}

.bazas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 18px;
    font-weight: 600;
  }
}
.cards{
  display: flex;
  gap: 15px;
  .box{
    margin-top: 30px;
    width: 380px;
    border-radius: 18px;
    img{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;


    }
    box-shadow: $card-shadow;
    .metod{
      font-weight: 600;
      padding: 15px 15px;
    }
    .chit{
      text-align: end;
      padding: 0 15px 10px 0;
      a{
        color: $color-primary;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}
.formss{
  background:$grad-linear;
  display: flex;
  justify-content: space-between;
  border-radius: 26px;
    padding: 30px;

}
.left-form{
  width: 550px;
  h2{
    color: $white;
  }
  p{
    color: $white;
    font-size: 15px;
    margin-top: 20px;
  }
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 5px;
    input{
      padding: 12px ;
      border-radius: 25px;
      border: none;
      font-weight: 450;
      font-size: 13px;
      width: 500px;
    }
    label{
      font-size: 15px ;
      font-weight: 200;
      color: $white;
    }
  }
  .right-form{
    p{
      font-size: 10px;
      color: $white;
      span{
        color: $black;
      }
    }
    .nmad{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      a{
        background: $black;
        color: $white;
        font-size: 15px;
        border-radius: 26px;
        padding: 8px 35px;
      }
    }
  }
  .form{
    margin-top: 60px;
    margin-bottom: 60px;
  }